@charset "UTF-8";
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
cliche.js 解説ページ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* =========================================================
■解説全体のレイアウトやスタイル
========================================================= */
/* -------------------------------------
▽枠組み
------------------------------------- */
	html, body {
		height: 100%;
	}
	body {
		margin: 0; padding: 0;
		background: #eee;
		
		color: #333;
		font-size: 0.875em;
		line-height: 1.5em;
	}
	article {
		width: 860px;
		min-height: 100%;

		padding: 0 40px;
		margin: 0 auto;
		
		background: #fff;
		box-shadow: 0 0 20px #ccc;
	}

/* -------------------------------------
▽ページタイトル
------------------------------------- */
	h1 {
		margin: 0 0 1.5em;
		padding: 1.5em 0 0;
		
		font-size: 3.429em;
		font-family: serif;
	}

/* -------------------------------------
▽セクショニング
------------------------------------- */
	article > section {
		margin: 3em 0;
		padding: 1.5em 0;
		border-top: double 3px #ccc;
	}
	article > section:last-child {
		margin-bottom: 0;
	}
	article > section h2 {
		font-size: 1.715em;
	}

	article > section > section {
		border-top: solid 1px #f0f0f0;
		box-shadow: 0 -1px #ccc;
		
		margin: 3em 0;
		padding: 1.5em 40px 0;
	}
	article > section > section h3 {
		margin-right: -40px;
		margin-left: -40px;
		
		border-left: solid 35px #eee;
		padding-left: 5px;
	}

/* -------------------------------------
▽汎用要素
------------------------------------- */
	img {
		border: none;
	}


/* =========================================================
■個別のサンプルのレイアウトやスタイル
========================================================= */
/* -------------------------------------
▽スタイル＞
------------------------------------- */
	#displayBox .container {
		zoom: 1;
		margin-bottom: 20px;
	}
	#displayBox .container:after {
		content: ".";
		height: 0; display: block; visibility: hidden;
		clear: both;
		
		margin-bottom: -20px;
	}
	#displayBox .container .box {
		float: left;
		margin: 0 20px 20px 0;
		padding: 19px;
		border: solid 1px #ccc;
	}
	#displayBox .container .box p {
		margin-bottom: 0;
	}
	#displayBox .container .box .heading {
		margin: -19px -19px 1em;
		padding: 19px;
		background: #f0f0f0;
	}
	#displayBox .container .box .heading span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.334;
	}


